/* Default styling */
* {
  background-color: #000000 !important;
  color: #ffffff !important;
  background: #000000 !important;
}

img {
  background: #FFFFFF !important;
}


.highlighted-row {
  color: #ffffff !important;
  background-color: #000000 !important;
  background: #000000 !important;
}


.rated-user.user-admin {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.rated-user.user-black {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
.user-rank .user-black {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
a.groupName {
  background-color: #000000 !important;
  color: #ffffff !important;
}
a {
  background-color: #000000 !important;
  color: #ffffff !important;
}


.header {
  background-color: #000000 !important;
}

.legendary-user-first-letter:first-letter {
  color: #FFFFFF !important;
}

/* Override styling within #usersRatingGraphPlaceholder */
#usersRatingGraphPlaceholder * {
  background-color: initial !important;
  color: #ffffff !important;
}

#usersRatingGraphPlaceholder img {
  background: initial !important;
}

#usersRatingGraphPlaceholder .rated-user.user-gray {
  color: #ffffff !important;
}

#usersRatingGraphPlaceholder .rated-user.user-admin {
  background-color: initial !important;
  color: #ffffff !important;
}

#usersRatingGraphPlaceholder a {
  color: #ffffff !important;
}

#usersRatingGraphPlaceholder .header {
  background-color: initial !important;
}

#usersRatingGraphPlaceholder .legendary-user-first-letter:first-letter {
  color: #ffffff !important;
}
